@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$black: #1d1d20;
$gray: #27272b;
$border: #83838366;
$light-gray: #c5c5c5;
$white: #ececec;
$blue: #3366ff;

$font: 'Roboto', sans-serif;
$font-small: 10px;
$font-regular: 14px;
$font-large: 18px;
$font-extra-large: 24px;
